<form name="credentialsForm">
	<md-content layout-padding>
		<div layout="column">
			<md-input-container>
				<label>Username</label>
				<input type="text" ng-model="credentials.username"></input>
			</md-input-container>

			<md-input-container>
				<label>Password</label>
				<input type="password" ng-model="credentials.password"></input>
			</md-input-container>
			<md-input-container>
				<label>Repeat Password</label>
				<input type="password" ng-model="credentials.passwordRepeat"></input>
			</md-input-container>

			<md-button ng-click="register()">Register</md-button>
		</div>
	</md-content>
</form>
